body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#first-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first-navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    column-gap: 30px;
}


nav {
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: 20px;
    align-items: center;
    /* position: fixed; */
    position: sticky;
    background-color: white;
    width: 100%;
    top: 0px;
}

#menu-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    list-style-type: none;
    font-size: 17px;
}

#menu-icons {
    margin-right: 20px;
    font-size: 18px;
}

#third-navbar {
    background-color: black;
    color:white;
    text-align: center;
    padding: 4px 16px;
}

.house-icon {
    background-color: blueviolet;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    position: fixed;
    bottom: 15px;
    right: 15px;

}