h1 {
    color: white;
    background-color: gray;
    text-align: center;
}

#header1{
    color: blue;
}

#why-python-training-header{
    color: blueviolet;
}

h3 {
    background-color: cornflowerblue;
    color: white;
    font-size: 35px;
}

img {
    width: 200px;
}

a {
    font-size: 30px;
    color: red;
}

.header3{
    color: brown;
    font-size: 30px;
    text-align: center;
}