body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

#meetings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.meeting {
    width: 31%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.meeting {
    text-align: left;
}

.meeting th, .meeting td {
    padding: 8px 12px;
}